<tbody>
    <tr>
        <td>{{order.id}}</td>
        <td><a href="{{ url_for('viewClient', id = order.client.id) }}">{{order.client.name}}</a></td>
        <td><a href="{{url_for('viewOrder', id = order.id)}}" >{{order.subject}}</a></td>
        <td>{{order.startDate}}</td>
        <td>{{order.returnDate}}</td>
        <td>{{order.status}}</td>
        <!--<td>Edytuj</a></td>
        <td>Usun</a></td>-->
        </tr>

    </tbody>

    <script src=" {{ url_for('static', filename='index.js') }}"></script>