{% extends "base.html" %}

{% block content %}
    <h1>Create Order</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.subject.label }}<br>
            {{ form.subject(size=32) }}<br>
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=10) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status }}<br>
            {% for error in form.status.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.client.label }}<br>
            {{ form.client }}<br>
            {% for error in form.client.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
